.feed-container {
    background-color: #110f0f;
    padding-top: 10px;
    padding-bottom: 10%;
}

.smoke-screen-container {
    /* background-color: rgba(0,0,0,0.7); */
    background-color: red;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 100;
}